{% extends "layout.html" %}


{% block title %}
    Chai aur Django
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to Chai aur Django project.</h1>

    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>

    <a href="{% url 'tweet_list' %}">Back to tweet list</a>

{% endblock %}